@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2a2a2a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}
